 .header {
  width: 100%;
  height: 56.9rem;
  background-image: url("/images/cover.jpg");
  z-index: -1000;
  position: relative;
  background-size: cover;
  background-position: center;

}
.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #0271bc;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 1000;
}

.burger {
  border-radius: 0.2rem;
  width: 1.6rem;
  height: 1.4rem;
}

.header-words {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: flex-start;
}

.anonymous, .proxy, .text-header {
  color: white;
  width: 10rem;
  height: 5rem;
}
.anonymous, {
  font-size: 4.2rem;
  text-align: center;
  margin: 23rem 2.5rem 0 2.5rem;
  font-family: 'Roboto Slab', serif;
}

.proxy {
  font-size: 4.2rem;
  text-align: center;
  margin-left: 8rem;
  font-family: 'Roboto Slab', serif;
}

.text-header {
  font-size: 1.6rem;
  display: inline;
  width: 100%;
  margin: 0 0 0 5rem;
  font-family: 'Roboto', sans-serif;
  
}

.scroll-down-link {
  display: flex;
  position: relative;
  background-color: white;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 22px;
  margin: 4.5rem 0 0 14rem;
  align-items: center;
}

.scroll-down {
  width: 2rem;
  height: 1.17rem;
  margin: 0.5rem 0 0 1.2rem; 
} 

@media (min-width: 375px) {
.header-words {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: flex-start;
  padding-left: 2.5rem;
}
.scroll-down-link {
  display: flex;
  position: relative;
  background-color: white;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 22px;
  margin: 6.5rem 0 2rem 16rem;
  align-items: center;
}
}

/*
$color-background: #0271bc;


.header {
  width: 100%;
  height: 56.9rem;
  background-image: url("/images/cover.jpg");
  z-index: -1000;
  position: relative;
  background-size: cover;
  background-position: center;

  .burger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: $color-background;
    width: 4.4rem;
    height: 4.4rem;
    z-index: 1000;

    .burger {
      border-radius: 0.2rem;
      width: 1.6rem;
      height: 1.4rem;
    }
  }

  .header-words {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .anonymous, .proxy, .text-header {
      color: white;
      width: 10rem;
      height: 5rem;
    }
      .anonymous {
      font-size: 4.2rem;
      text-align: center;
      margin: 23rem 2.5rem 0 4.5rem;
      font-family: 'Roboto Slab', serif;
    }

    .proxy {
      font-size: 4.2rem;
      text-align: center;
      margin-left: 10rem;
      font-family: 'Roboto Slab', serif;
    }

    .text-header {
      font-size: 1.6rem;
      display: inline;
      width: 100%;
      margin: 0 0 0 6.4rem;
      font-family: 'Roboto', sans-serif;
    }
  }
   .scroll-down-link {
    display: flex;
    position: relative;
    background-color: white;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 22px;
    margin: 2rem 0 0 16rem;
    align-items: center;

    .scroll-down {
      width: 2rem;
      height: 1.17rem;
      margin: 0.5rem 0 0 1.2rem;
    }
  }
} */

/*VERSIÓN TABLET*/

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 76.8rem;
  }
  .content-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    margin: 0 5.5rem 0 0rem;
    padding-top: 35rem;
    }  
  
  .anonymous-proxy {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 7rem;
  }
  .anonymous, .proxy {
    display: flex;
    justify-content: space-around;
  }
  .header-words {
    display: flex;
    gap: 7rem;
  }
  .anonymous, .proxy {
  font-size: 8rem;
  margin:auto;
  }
  .text-header{
    font-size: 2.4rem;
    margin:auto;
  }
} 


/*VERSIÓN DESKTOP*/

@media (min-width: 1024px) {
  .header {
    width: 100%;
    height: 76.8rem;
  }

  .content-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    margin: 0 5.5rem 0 0rem;
    padding-top: 35rem;
  }

  .anonymous-proxy {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    line-height: 13.2rem;
  }

  .anonymous, .proxy {
    display: flex;
    justify-content: space-around;
    font-size: 10rem;
    margin: auto;
  }

  .header-words {
    display: flex;
    gap: 10rem;
  }

  .text-header {
    font-size: 2.4rem;
    margin: auto;
    text-align: center;
  }
} 