.section2 {
    width: 36.6rem;
    height: 62.4rem;
    background-color: #eff9ff;
}
.margins {
   margin: 0rem 6.8rem 6rem 6.8rem;
}

.title2 {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    padding: 3rem 0 6rem 0;
    font-family: 'Roboto Slab', serif;
}
.title3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 1rem 0;
}
.paragraph2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 3rem;
    padding-bottom: 3rem;
}
.paragraph2-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 3rem;
}
 .paragraph3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 3rem;
} 
.reasons-button {
    background-color: #f26002;
    border-radius: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18.4rem;
    height: 4.5rem;
    margin: 3rem 0 0 2rem;
}
.more-reasons {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
}



/* TABLET */

@media (min-width: 768px) {
    .section2 {
        width: 76.8rem;
        height: 50rem;
        padding-top: 3rem;
    }
    .margins {
        display: grid;
    }
    .grid {
        display: grid;
        grid-template-columns: 17rem 0rem 20rem 20rem;
        align-items: baseline;
        grid-column: 1/4;
        grid-gap: 3rem;
    }
    .column3 {
        padding-left: 3rem;
    }
    .orange {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        position: relative;
    }
    .title3 {
        font-size: 2.4rem;
    }
    .paragraph2, .paragraph2-2, .paragraph3 {
        font-size: 2rem;
    }
}

