<footer class="footer">
    <span class="header-arrow"><a class="arrow-link" href="./#header"><img class="arrow" src="/images/ico-arrow.svg"
                alt="go to start"></a></span>
    <div class="footer-list">
        <nav class="nav">
            <ul class="ul1">
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">ARTICLES</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">BOOKS</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">EVENTS</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">REASONS</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">TIPS</li>
                </a>
            </ul>
            <ul class="ul2">
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">TWITTER</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">INSTAGRAM</li>
                </a>
                <a class="link-nav" href="https://adalab.es/" target="_blank">
                    <li class="li">MASTODON.SOCIAL</li>
                </a>
            </ul>
        </nav>
        <div class="end-footer">
            <span class="copy">&copy; 2023</span>
            <span class="components">we <i class="fa-solid fa-heart" style="color: #e44923;"></i> components</span>
        </div>
    </div>
</footer>