<header class="header">
    <a class="burger-container" href="https://adalab.es." target="_blank"><img class="burger" src="/images/ico-menu.svg"
            alt="burger"></a>
    <div class="header-words">
        <p class="anonymous">ANONYMOUS</p>
        <p class="proxy">PROXY</p>
        <p class="text-header">In hac habitasse platea dictumst</p>
    </div>
    <a class="scroll-down-link" href="#section2"><img class="scroll-down" src="/images/ico-scroll-down.svg"
            alt="Scroll Down"></a>
</header>