<header class="header" id="header">
    <a class="burger-container" href="https://adalab.es"><img class="burger" src="/images/ico-menu.svg"
            alt="burger"></a>
    <div class="content-header">
        <div class="header-words">
            <span class="anonymous-proxy">
                <p class="anonymous">ANONYMOUS</p>
                <p class="proxy">PROXY</p>
            </span>
            <p class="text-header">In hac habitasse platea dictumst</p>
        </div>
        <div class="scroll-mother">
            <a class="scroll-down-link" href="./#section2"><img class="scroll-down" src="/images/ico-scroll-down.svg"
                    alt="Scroll Down"></a>
        </div>
    </div>
</header>